*{
    margin: 0;
    padding: 0;
}



.counter{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 12px;
    margin: 20vh 0px 0 40vh;
    background: rgb(10,7,62);
background: linear-gradient(90deg, rgba(10,7,62,1) 0%, rgba(0,0,198,1) 48%, rgba(0,249,255,1) 100%);

}
.counter h1{
  padding: 50px 0 50px 0px;
}
#increment{
    cursor: pointer;
    padding: 7px 20px ;
    border-radius: 10px;
    background-color:#00000000;
    color: #fff!important;
    font-size: 25px;
    border: 2px solid rgb(0 238 252);
}
.button-div{
    display: flex;
    align-items: center;
    gap: 30px;
}
#value{
    font-size: 25px;
    cursor: pointer;
    padding: 8px 52px ;
    border-radius: 10px;
    background-color:#ffbb99;
    color: rgb(0, 0, 0,2);
    
    border: 1px solid  rgb(71, 110, 31);
}
#decrement{
    cursor: pointer;
    padding: 7px 20px ;
    border-radius: 10px;
    background-color:transparent;
    color: #fff!important;
    font-size: 25px;
    border: 2px solid  rgb(0, 0, 0);
}
#reset{
    cursor: pointer;
 padding: 6px 26px ;
 border-radius: 10px;
 background-color: #00800000;
 color:  #fff!important;
 font-size: 25px;
 border: 2px solid  rgb(0 238 252);
}
.reset-div{
    padding: 30px 15px 0 0px;
}